.container224
{
    height: 75em;
    width: 75em;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
.headContainer
{
    height: 9.4em;
    width: 100%;
    background-color: white;
    background-image: url("techgreen.jpg");
    margin-top: -2em;
}
h1
{
	font-size: 2em;
	font-family: Times;
	width: 6em;
	margin-right: auto;
	margin-left: auto;
	padding-top: 1em;
	position: absolute;
	right: 43%;
    color: white;
}
    
}
.bod
{
    background-color: grey;
}

.galleryCon
{
    height: 32em;
    width: 40em;
    background-color: grey;
    margin-right: auto;
    margin-left: auto;
    overflow: scroll;
    position: absolute;
    right: 38em;
    left: auto;
    padding-top: 2em;
}

.gameGallery
{
    height: 10em;
    width: 10em;
    list-style: none;
    display: inline;
    margin-left: 6em;
    margin-right: 1.5em;
    border: 1px solid green;
    margin-top: 2em
}